services:
  - type: web
    name: sapphai
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    branch: main
    envVars:
      - key: PORT
        value: "10000"
      - key: NODE_ENV
        value: production
      - key: OPENAI_API_KEY
        value: "ADD_YOUR_API_KEY_HERE"
    autoDeploy: true
    healthCheckPath: /health
    